*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9fbfd;
}

.flex-centered {
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.button {
    background-color: blueviolet;
    color: white;
    font-weight: 800;
    width: 150px    ;
    padding: 10px;
    margin: 10px;
}
.start-quiz {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.timer {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}





/* button {
    box-sizing: border-box;
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 800;
    text-align: center;
}

h1 {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.intro {    
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    display: contents;
    justify-content:flex-start;

}


.container {
    width: 500px;
    border-radius: 20px;
    background-color: white;
}

.hide {
    display: none;
}

.score {
    box-sizing: border-box;
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 800;
    text-align: center;

} */
